body {
  background-color: #333;
  color: #eee;
  text-align: center;
  font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;
  text-rendering: optimizelegibility;
  text-transform: lowercase;
}

hr {
  margin: 25px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

img {
  padding: 25px;
  height: 200px;
  width: 200px;
}

.nav {
  font-size: 22px;
  padding: 25px;
  color: #eee;
  text-decoration: underline;
}

.nav:hover {
  /* default text color to the animation's first color */
  color: #f55c3d;
  -webkit-animation: colors 57s linear infinite;
  -moz-animation: colors 57s linear infinite;
  animation: colors 57s linear infinite; }

@media (max-width: 520px) {
  .nav {
    display: block;
  }
}

#title {
  margin: 50px 0;
}

.ling {
  background-color: #1BA1E2;
}

.framework {
  background-color: #F09609;
}

.carr {
  background-color: #A200FF;
}

.fa {
  background-color: #8CBF26;
}

.cont {
  background-color: #00ABA9;
}

.port {
  background-color: #FF0097;
}

.sobre {
  background-color: #E51400;
}