/*  http://codepen.io/jackiebackwards/pen/zmpgs  */

@-moz-keyframes colors {
  5.26316% {
    color: #f55c3d; }

  10.52632% {
    color: #f5993d; }

  15.78947% {
    color: #f5d63d; }

  21.05263% {
    color: #d6f53d; }

  26.31579% {
    color: #99f53d; }

  31.57895% {
    color: #5cf53d; }

  36.84211% {
    color: #3df55c; }

  42.10526% {
    color: #3df599; }

  47.36842% {
    color: #3df5d6; }

  52.63158% {
    color: #3dd6f5; }

  57.89474% {
    color: #3d99f5; }

  63.15789% {
    color: #3d5cf5; }

  68.42105% {
    color: #5c3df5; }

  73.68421% {
    color: #993df5; }

  78.94737% {
    color: #d63df5; }

  84.21053% {
    color: #f53dd6; }

  89.47368% {
    color: #f53d99; }

  94.73684% {
    color: #f53d5c; }

  /* if we're moving on to the last step, reset the color to be the same as the starter color so that the loop is smooth */
  100% {
    color: #f55c3d; } }

@-webkit-keyframes colors {
  5.26316% {
    color: #f55c3d; }

  10.52632% {
    color: #f5993d; }

  15.78947% {
    color: #f5d63d; }

  21.05263% {
    color: #d6f53d; }

  26.31579% {
    color: #99f53d; }

  31.57895% {
    color: #5cf53d; }

  36.84211% {
    color: #3df55c; }

  42.10526% {
    color: #3df599; }

  47.36842% {
    color: #3df5d6; }

  52.63158% {
    color: #3dd6f5; }

  57.89474% {
    color: #3d99f5; }

  63.15789% {
    color: #3d5cf5; }

  68.42105% {
    color: #5c3df5; }

  73.68421% {
    color: #993df5; }

  78.94737% {
    color: #d63df5; }

  84.21053% {
    color: #f53dd6; }

  89.47368% {
    color: #f53d99; }

  94.73684% {
    color: #f53d5c; }

  /* if we're moving on to the last step, reset the color to be the same as the starter color so that the loop is smooth */
  100% {
    color: #f55c3d; } }

h1 {
  font-size: 80px;
  /* default text color to the animation's first color */
  color: #f55c3d;
  -webkit-animation: colors 57s linear infinite;
  -moz-animation: colors 57s linear infinite;
  animation: colors 57s linear infinite; }